<p id="notice"><%= notice %></p>

<h2>
  <%= @physician.name %>
</h2>

<h3>Specialty: <%= @physician.specialty %></h3>

<hr>

<h3> Office Locations </h3>
<table class="ptable">
  <thead>
    <tr>
      <th>Street Address</th>
      <th>Zip Code</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%  @physician.offices.each do |office| %>
      <tr>
        <td><%= office.street_address %></td>
        <td><%= office.zip %></td>
        <td><%= office.phone %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3> Current Appointments </h3>
<table class="ptable">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Date of Appointment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%  @physician.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.visit.to_formatted_s(:long_ordinal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
